
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
.env.*
.ipynb_checkpoints/

# Data / models / cache
data/processed/*
!data/processed/.gitkeep
models/
cache/
reports/figures/*

# VS Code
.vscode/*.log
.history/

# OS
.DS_Store
Thumbs.db
